.vscode/
bin/linux/save3ds_fuse
cstins/
testing-class.py

# macOS
.DS_Store
._*

# Python
venv/
**/__pycache__/
*.pyc

# JetBrains
.idea/
=======

*.pyc
/build/
/dist/

*.d
*.o
*.map
*.elf
*.lst
*.smdh
custom-install-finalize.3dsx
basetik_bin.h
